.navigationButton {
    padding: 10px;
    margin: 10px;
}

.chatContainer {
    width: 100%;
    height: fit-content;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;
    flex-direction: column;
    justify-self: center;
}

.sentMessage {
    display: flex;
    align-content: flex-end;
    margin-bottom: 10px;
    padding: 30px;
    border: 2px, solid, #0084ff;
    border-radius: 10px;
    flex-direction: row-reverse;
    position: relative;
}

.receivedMessage {
    display: flex;
    align-items: flex-end;
    margin-bottom: 10px;
    padding: 30px;
    border: 2px, solid, #cfcfcf;
    border-radius: 10px;
    flex-direction: row;
    position: relative;
}

.boardSubmitButton {
    display: flex;
    flex-direction: row-reverse;
    justify-self: left;
    padding: 5px;
    margin-bottom: 10px;
}

.textbox {
    width: 90%;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border: 1px, solid, #000000;
    resize: none;
    vertical-align: middle;
}

.textsubmit {
    width: 10%;
    padding: 85px 5px;
    border: 2px, solid, #000000;
    border-radius: 10px;
    vertical-align: middle;
}

.centerSpinner {
    position: fixed;       /* 고정 위치 */
    top: 50%;              /* 상단에서 50% 위치 */
    left: 50%;             /* 왼쪽에서 50% 위치 */
    transform: translate(-50%, -50%); /* 정확히 중앙에 배치 */
    width: 100vw;          /* 뷰포트 너비 */
    height: 100vh;         /* 뷰포트 높이 */
    display: flex;         /* Flexbox를 사용 */
    justify-content: center; /* 가운데 정렬 */
    align-items: center;   /* 중앙 정렬 */
}
